.imagen {
  background-image: url("./images/bg-main-mobile.png");
  width: 385px;
  height: 240px;
  position: relative;
}

.cardBack {
  position: absolute;
  right: 15px;
  top: 30px;
  background-image: url("./images/bg-card-back.png");
  width: 286px;
  height: 157px;
  background-size: cover;
}

.mainFont {
  position: absolute;
  bottom: -35px;
  left: 20px;
  background-image: url("./images/bg-card-front.png");
  width: 286px;
  height: 157px;
  background-size: cover;
}

.separated-text {
  letter-spacing: 3pt;
}

.imagenDesckop {
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 483px;
  height: 100vh;
  position: relative;
}

/* Ecritorio */

.cardBack-d {
  position: absolute;
  right: -170px;
  top: 400px;
  background-image: url("./images/bg-card-back.png");
  width: 447px;
  height: 245px;
  background-size: cover;
}

.mainFont-d {
  position: absolute;
  top: 120px;
  right: -100px;
  background-image: url("./images/bg-card-front.png");
  width: 447px;
  height: 245px;
  background-size: cover;
}

.mainFont-d .separated-text {
  letter-spacing: 6pt;
}
